= form_for @concert, remote: true do |f|
  = f.label :artist_name, "Artist Name"
  = f.text_field :artist_name

  = f.label :venue_id, "Venue"

  = f.collection_select :venue_id, Venue.all, :id, :name

  = f.label :performing_on
  = f.datetime_select :performing_on

  = f.submit "Save Concert"
